/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
html {
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0
}
.header {
    background-image: url("../images/background-singup.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.header-img {
    background-size: cover;
}

img {
    max-width: 98vw;
    
}
.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    flex-wrap: wrap;
    padding: 3px;
}

.navbar {
    background-color : #540B51;
    display: flex;
    width: 100vw;
    height: 7vh;
    justify-content:  space-between;
    align-items: center;
    padding: 3px 3px;

}
.navbar > div >  img {
    width: 20vw
}
.header-title > h1 {
    text-align: center;
}

.header-email {
    display: flex;
    flex-direction: column;
    width: 90vw;
    
}

.navbar > div > ul {
    display: none
}
.buttons > button {
    border: none;
    background-color: #540B51 ;
}

span {
    color: #ECB12F;
}

p {
    color: white;
    font-size: 2rem;
}

.header-buttons {
    background-color: white;
    height: 7vh;
    border-radius: 12px;
    color: #540B51;
    font-size: 2em;
    border: none;
    
}

.header-buttons2 {
    height: 7vh;
    margin-top: 5%;
    border-radius: 12px;
    background-color: #4285F4;
    color: white;
    border: none;
}