/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

nav {
    background-color : #540B51;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 7vh;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1em;
}

.nav-buttons button {
    background-color: #540B51;
    border: none;
}

.nav-list {
    display: none;
}

.nav-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-logo img {
    padding-left: 1em;
    width: 30%;
}

header {
    background-image: url("../images/background-singup.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.header-title {
    display: flex;
    color: white;
    font-size: 2em;
    padding: 3px;
    text-align: center;
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
}

.header-text p {
    font-size: 1.75em;
    color: white;
}

.header-text p > span {
   color: #ECB12F;
}



img {
    max-width: 98vw;

}

.header-email {
    display: flex;
    flex-direction: column;
    width: 90vw;
    
}

.header-buttons {
    background-color: white;
    height: 7vh;
    border-radius: 12px;
    color: #540B51;
    font-size: 2em;
    border: none;
    
}

.header-buttons2 {
    height: 7vh;
    margin-top: 5%;
    border-radius: 12px;
    background-color: #4285F4;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
    
}

.header-buttons2 img {
    width: 7%;
    height: auto;
    background-color: white;
    display: flex;
}